@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  width: 100px;
  border-radius: 8px;
  background-color: #f2f2f2;
  color: violet;
}
.non-visible-toast {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  width: 100px;
  border-radius: 8px;
}

.visualizer-container {
  padding-left: 10px;
}

@keyframes pulse {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}

.visualizer-bar {
  background-color: #8b5cf6;
  width: 2px;
  border-radius: 2px;
  height: 15px;
  margin: 0 2px;
  display: inline-block;
  animation: pulse 0.5s ease-in-out alternate infinite;
}

.visualizer-bar:nth-child(2) {
  animation-delay: 0.4s;
}

.visualizer-bar:nth-child(3) {
  animation-delay: 0.5s;
}

.visualizer-bar:nth-child(4) {
  animation-delay: 0.6s;
}

.visualizer-bar:nth-child(5) {
  animation-delay: 0.36s;
}

.visualizer-bar:nth-child(6) {
  animation-delay: 0.5s;
}

.visualizer-bar:nth-child(7) {
  animation-delay: 0.3s;
}

.visualizer-bar:nth-child(8) {
  animation-delay: 0.4s;
}

.animate-leave {
  animation: animate-leave 0.5s ease-in-out forwards;
}
.animate-enter {
  animation: animate-enter 0.5s ease-in-out forwards;
}

@keyframes animate-leave {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300%);
    opacity: 0;
  }
}
@keyframes animate-enter {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
/* Rec blinking dot */
.blinking-red-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Rec blinking text */
.rec-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  animation: blink 2s infinite;
  position: absolute;
  top: 20px;
  right: 20px;
}

.text {
  position: absolute;
  top: 20px;
  right: 40px;
  font-weight: bold;
  color: #333;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn ease-in 1;
  animation-duration: 0.5s; /* or however long you want the animation to be */
}
.fadeOut {
  animation: fadeOut ease-in-out 0;
  animation-duration: 0.5s; /* or however long you want the animation to be */
}

.lightbox-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other content */
}

.lightbox-content {
  position: relative;
  margin: auto; /* Centers the content */
  padding: 20px;
  max-width: 150%; /* Adjusts to the viewport */
  /* max-height: 120vh; */
  overflow: hidden; /* Adds scroll for large content */
}

.lightbox-close {
  position: absolute;
  top: 40px;
  right: 40px;
  background: rgb(139, 91, 251);
  color: #fff; /* White text */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px; /* Larger font size for better readability */
  border-radius: 5px; /* Rounded corners for the button */
}

.lightbox-img {
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove extra space below the image */
}
